<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sE0DUnyXPK" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>

<section class="header2 cid-sE0DVGeoBs mbr-fullscreen mbr-parallax-background" id="header2-1">

    

    <div class="mbr-overlay" style="opacity: 0.6.2; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7" style="color: white;">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Global Portfolio Withdrawal Agency </strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">This is the easiest and fastest way to withdraw your funds from your Insta Global pay, International global pay, Nexa Global pay, Swift business pay, Connect wallet, Insta merchant pay and many more portfolios to your wallet address</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="#team1-5">Contact an Agent &gt; </a>
                    
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sE0GPHafFb" id="features16-l">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>About  Us</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                          Global Portfolio Agency is an agency based in Leeds UK, with agents all over the world, our services are offered to you through our various agents who are the best at what they do, each of them is bonafide agent  of the our agency and you could reach out to them</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="https://mobiri.se">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq2.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-sE0FRLH4g9" id="features4-9">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Services</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/slot.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong> Activated Slot </strong></h5>
                   
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">An activated slot is a one time  slot which enables you withdraw thousands of dollars from your specialized portfolio account in this sense you can't exceed the Withdrawal of $500,000 daily  </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/mastercard2.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>MasterCard Withdrawal</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">MasterCard is the easiest and fastest means of Withdrawal and can be used repeatedly till upon the date of expiration it can be gotten hours after purchase as it is sent virtually to your Email </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/investment.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Investments</strong></h5>
                      
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">An online Investment platform built for People who want better returns on their investments, people who refuse to settle for the average investing.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://coinpavier.com/" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="info1 cid-sE0E0Isvw9" id="info1-3">
    
    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-1">
                    <strong>Join our community telegram today</strong>
                </h3>
                
                <div class="mbr-section-btn">
                    <a class="btn btn-white display-4" href="https://mobiri.se">Visit channel</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-sE0E41tqfx" id="testimonials2-4">
    
    
    <div class="container">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
            <strong>Testimonials</strong>
        </h3>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">It has been a pleasure working with people at global portfolio agency, they have been straight down the line from the day we started talking to point where my Withdrawal was complete</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/9.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Shubya clover </strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>CEO and founder Shibmint </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">After several trails to withdraw my funds from my IGP portfolio i finally came across global portfolio agency and the rest was history, i was able to withdraw 100% of my portfolio just days later  </p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/12.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>vikash Suresh</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Accountant at BOI</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">Es ist immer eine Freude, gleichgesinnte Seelen in jeder Arena zu finden, 
                    in der Sie sich kreuzen, und das galt für alle, denen ich bei Global Portfolio Agency.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/4.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Martin heitto</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Structural Manager at BMI </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">It is evident they place a high value on client relationships and their one-to-one approach has suited my requirements perfectly. Moreover, the team works fluidly alongside other advisers to make sure they provide an on-going and dependable service.                   </p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/11.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Duangkamol Siam</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Software Developer at GoTo</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team1 cid-sE0E6W13tf" id="team1-5">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Our team</strong>
                </h3>
                
            </div>
            

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/douglas.jpeg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Douglas Palmer</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>CEO and Founder</strong>
                        </h6>
                        
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon-twitter socicon" style="font-size: 18px;"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/rod.jpeg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Rod Theiss</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>customer Agent</strong>
                        </h6>
                        
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/halle.jpeg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Halle Vandecamp</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>customer Agent</strong>
                        </h6>
                        
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/ridley.jpeg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Ridley Tecca</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>customer Agent</strong>
                        </h6>
                        
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contacts4 cid-sE0E8OdJ00" id="contacts4-6">

    

    

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="text-content col-12 col-md-6">
                <h2 class="mbr-section-title mbr-fonts-style display-2">
                    <strong>Follow Us</strong>
                </h2>
                <p class="mbr-text mbr-fonts-style display-7">Start with creating a
                    new website and picking up the theme. Then expand the blocks panel with the big red "plus" button in
                    the
                    lower right corner and start dragging the blocks you like.</p>
            </div>
            <div class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
                <a href="https://twitter.com/mobirise" target="_blank">
                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
                <a href="https://instagram.com/mobirise" target="_blank">
                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
                
                
                
                
                
                
            </div>
        </div>
    </div>
    
</section>

<section class="content2 cid-sE0Londugj" id="content2-11">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Blog</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read the recent blog posts about
                Mobirise</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/houses.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://www.cnbc.com/2021/07/20/builders-pull-back-as-more-homebuyers-are-priced-out-of-the-market.html" class="text-dark">Real Estate</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <strong>CNBC </strong><em> 10-10-2025</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Builders pull back as more homebuyers are priced out of the market</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://www.cnbc.com/2021/07/20/builders-pull-back-as-more-homebuyers-are-priced-out-of-the-market.html" class="btn item-btn btn-primary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/s.png" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://www.cnbc.com/2021/07/16/us-retail-sales-unexpectedly-rise-0point6percent-in-june-.html" class="text-dark">Economy </a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>CNBC</strong><em>&nbsp;JUL 16 2021</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">U.S. retail sales unexpectedly rise 0.6% in June<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://www.cnbc.com/2021/07/16/us-retail-sales-unexpectedly-rise-0point6percent-in-june-.html" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/powell.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://www.cnbc.com/2021/07/15/watch-fed-chair-powell-speak-live-to-senate-banking-panel-on-the-economy-and-policy.html" class="text-black">Federal Reserve</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>CNBC
                            </strong><em>JUL 15 2021</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Watch Fed Chair Powell speak live to Senate banking panel on the economy and policy</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://www.cnbc.com/2021/07/15/watch-fed-chair-powell-speak-live-to-senate-banking-panel-on-the-economy-and-policy.html" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="footer1 cid-sE0EalPDA8" once="footers" id="footer1-7">

   
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/b" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Set up a site with <a href="https://mobirise.site/z" style="color:#aaa;">Mobirise</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/sociallikes/social-likes.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>